@charset "utf-8";
/* CSS Document */
body{
	font-size: 12px;
}
.div-table{
margin: 0px 10px 0px 10px;	
}
.div-table-editobj{
margin: 30px 10px 0px 10px;	
}
.zagolovok{
	 width:800px;
     height: 104px;
     position: relative;
}
.zagolovok div{
	        width:50px; 
        border:1px solid red;
        height:50px;
        position: absolute;
}

/*.za1{
	width: auto;
	margin-left: 30%;
	display:inline-block;
}*/
.buttnons{
	width:auto;
    margin: 10px 0px 20px 30px;
}


th{
background-color:#CCC;	
}
table{
font-size: 12px;
}

.paintrows{
	background-color: #ececec;
}
.objectplace{
	margin-top: 10px;
width: 15%;

}
.fomrobject{
margin: 20px 0px 0px 30px;
}

.editform{
margin: -15px 0px 0px 350px;
}

#editform{
	width: 100px;
}

.logoimg {
	width: 100%;
	height: 100%;
}

.one { 
	margin-top: 10px;
	width:auto; 
}
.two1{ 
	width:100px;
	height:100px; 
	float: left; 
	margin-left: 20%;
}
.two2 { 
	width:auto; 
	height:auto; 
	float: left;
	margin:30px 0px 0px 25px;

 }
 .clock{
 	margin-right: 10px;
 	width: auto;
 	height: auto;
 	float:right;
 	font-family: sans-serif;
 	font-weight: bold;
 	font-size: 20px;
 }
.one:after {
    display: block;
    width: 100%;
    content: '';
    clear: both;
}
.content {
	padding-bottom: 40px;
}
.footer {
	float: right;
	margin-right: 30px;
}

.btn-marg-top{
	margin-top: 10px;
}

.list-object tr>th {

	font-size: 12px;
}
/* .list-object tr>th:nth-child(1) {
	width: 20px;
}
.list-object tr>th:nth-child(2) {
	width: auto;
} */

.openformplan{
  display: block;
  padding: 8px;
  cursor: pointer;
  line-height: 12px;
  color: black;
}
.openformplan:hover{
background-color: #ccc;
opacity: 1.0 !important;
text-decoration: none;
	}

.openformplan.hideFuck{ opacity: 0.0; text-align: center; color:#fff; }

.openform{
	width: 20px;
	color: black;
	text-decoration: none;
}
.openform:hover{

	text-decoration: none;
}
/* стили компрессора*/
.openformplancompr{
	display: block;
	padding: 8px;
	cursor: pointer;
	line-height: 12px;
	color: black;
  }
  .openformplancompr:hover{
  background-color: #ccc;
  opacity: 1.0 !important;
  text-decoration: none;
	  }
  
  .openformplancompr.hideFuck{ opacity: 0.0; text-align: center; color:#fff; }
/* стили ваккумника*/
  .openformplanvak{
	display: block;
	padding: 8px;
	cursor: pointer;
	line-height: 12px;
	color: black;
  }
  .openformplanvak:hover{
  background-color: #ccc;
  opacity: 1.0 !important;
  text-decoration: none;
	  }
  
  .openformplanvak.hideFuck{ opacity: 0.0; text-align: center; color:#fff; }
  
  /* стили кгс*/
  .openformpkgs{
	display: block;
	padding: 8px;
	cursor: pointer;
	line-height: 12px;
	color: black;
  }
  .openformpkgs:hover{
  background-color: #ccc;
  opacity: 1.0 !important;
  text-decoration: none;
	  }
  
  .openformpkgs.hideFuck{ opacity: 0.0; text-align: center; color:#fff; }
/* a {
	border: 1px solid red;
} */

.selectyear{
	display: inline-block;
	margin-left: 35%;
text-align: center;
width: 30%;
}

/* .content{	border: 1px solid blue;
} */

/* div.wrapper {
	width:5px;
	} */
	div.horizont1 {
		margin-left: 30%;
	float:left;
	width:200px;
	}
	div.horizont2 {
	float:left;
	width:auto;
	}